<%- include('includes/head') %>

    <body class="bg-gray-100">
        <header class="bg-blue-600 text-white p-4">
            <h1 class="text-center text-3xl font-semibold">Controle de Acesso com Módulos Fixos</h1>
        </header>
        <div class="container mx-auto mt-8">
            <h1 class="text-center text-3xl font-semibold">Trabalho 3 - Web II</h1><br>
            <h1 class="text-center text-1xl">Autora: Maryene Claudino</h1>
        </div>
        <div class="flex justify-center items-center mt-4">
            <a href="/auth/login"><button
                    class="px-3 py-1 bg-gray-300  hover:bg-gray-400 text-gray-800 rounded font-semibold">Login</button></a>
        </div>
        </div>
    </body>

    </html>