<%- include('includes/head') %>

    <body class="bg-gray-100">
        <header class="bg-blue-600 text-white p-4">
            <h1 class="text-center text-3xl font-semibold">Módulo De Relatórios</h1>
        </header>

        <div class="container mx-auto mt-8" style="display: flex;align-items: center;justify-content: center;">
            <button
                style="color: white; width: 13%; cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 5px; background-color: #2563eb; padding: 5px; border-radius: 10px;"
                onclick="window.location.href='/users'">Lista de Usuários</button>
        </div>
    </body>

    </html>